* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12;
}

ul {
    list-style-type: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.mail-wrapper {
    padding: 20px 20px;
    
    border-radius: 10px;
    background-color: lightskyblue;
}

.mail {
    font-size: 1rem;
    padding: 5px 0;
}